@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

*{
    box-sizing: border-box;
}

body,html{
    font-family: 'JetBrains Mono', monospace;
    height: 100%;
    color: rgb(90,70,63);

}

.parallax {
    /* The image used */
    background-image: url('/img/bg_holland.webp');
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    margin:0px 15px 0px 15px;
}


p{
    text-align: center;
    margin: 20px;
}

.card {
    
    padding: 50px;
    margin:0px 15px 0px 15px;
   height:1000px;
   background-color:whitesmoke;
   border: 5px ;
   border-style: dashed;
   border-color: rgb(251,154,23);
   border-radius: 12px;
  
   font-size:26px"
}
  
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

 